<div id="divMessage">Please enter your new password</div>
<input type="password" id="pwdNew" placeholder="New password" />
<input type="password" id="pwdRepeat" placeholder="Repeat password" />
<input type="submit" id="btnSubmit" value="Save" />