<div id="window__<%=windowID%>" class="window prompt" data-windowID="<%=windowID%>">
	<div class="handle">
		<span class="title"></span>
	</div>
	<div class="windowContent">
		<%-GUIcontent %>
	</div>
	<script type="text/javascript">
		<%-javascript %>
	</script>
</div>