<div id="window__<%=windowID%>" class="window" data-windowID="<%=windowID%>">
	<div class="handle">
		<div class="windowButtons">
			<div class="btnClose">
				<div class="btnInner"></div>
			</div>
		</div>
	<span class="title"></span></div>
	<div class="windowContent">
		<%-GUIcontent %>
	</div>
	<script type="text/javascript">
		<%-javascript %>
	</script>
</div>