.smallMessage {
	font-size:11px;
}

table {
	width:100%;
	tr {
		td:first-child {
			font-size:14px;
			width:110px;
		}
		input, button, textarea {
			width:100%;
		}
		textarea {
			height:50px;
		}
		height:30px;
	}
}

.username {
	font-size:20px;
}